# IDE - Webstorm
*.idea

# release
release.md
/deploykeys*

# dependencies
/node_modules

# compiled output
/dist
/tmp
/temp
.tmp
*.tmp
*.tmp.*
*.sourcemaps
.cache-loader

# compiled cache
.stylelintcache

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Windows:
[Tt]humbs.db
Desktop.ini
.DS_Store
$RECYCLE.BIN/
